<h3>Hello</h3>
<h1>
    <% @booking.passenger.each do |p|%>
        <%= p.name %>,
    <% end %>
</h1>
<h3>Thanks for Booking a flight at FlightBooker.com</h3>
<p>Here is your Booking ID: <strong><%= @booking.id %></strong> which will be use to claim your free flight ticket for $999.9</p>