
<turbo-frame id="results">
        <% if @results %>
            <% @results.each do |r| %>
                <div class="user">
                    <%= r.from.name %> - <%= r.to.name%>
                </div>
            <% end %>
        <% end %>
</turbo-frame>